<div class="container">
  <div class="login-container">
    <div id="output"></div>
    <div>
      <img src="assets/img/boxyz.png" width="100" height="100" alt="" />
    </div>
    <div class="form-box" style="margin-top: 30px">
      <form action="" method="post" [formGroup]="resetpassword" (submit)="onSubmit()">
        <input
          type="password"
          formControlName="new_password"
          class="form-control"
          placeholder="New Password"
          [ngClass]="{
            'is-invalid': submitted && f['new_password'].errors
          }"
        />
        <input
          type="password"
          formControlName="confirm_password"
          class="form-control"
          placeholder="Confirm Password"
          [ngClass]="{
            'is-invalid': submitted && f['confirm_password'].errors
          }"
        />
        <div *ngIf="f['confirm_password'].getError('Mustmatch') != null" class="text-danger">
          password mismatched
        </div>
        <button
          class="btn btn-block login"
          style="margin-top: 35px; background-color: #01408f; color: white"
        >
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
